html{
  height: 100%;
  background-color:#000;
  user-select: none;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;

}
div, img, span{
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
}
@font-face
{
font-family: akzilight;
src: url('akzidenzgrotesklight.ttf');
} 
@font-face
{
font-family: akziregular;
src: url('akzidenzgroteskregular.ttf');
} 
@font-face
{
font-family: akzibold;
src: url('akzidenzgroteskbold.ttf');
}
#resultsHolder{
  position:absolute;
  z-index:1;
  width:100%;
  background:#aaa;
  overflow:auto;
  -webkit-overflow-scrolling: touch;
}
#totdHolder{
  position:absolute;
  z-index:1;
  width:100%;
  background:#aaa;
  overflow:auto;
  -webkit-overflow-scrolling: touch;
}
#wrsHolder{
  position:absolute;
  z-index:1;
  width:100%;
  background:#aaa;
  overflow:auto;
  -webkit-overflow-scrolling: touch;
}
#rcpHolder{
  position:absolute;
  z-index:1;
  width:100%;
  background:#aaa;
  overflow:auto;
  -webkit-overflow-scrolling: touch;
}
#whlHolder{
  position:absolute;
  z-index:1;
  width:100%;
  background:#aaa;
  overflow:auto;
  -webkit-overflow-scrolling: touch;
}
#rksHolder{
  position:absolute;
  z-index:1;
  width:100%;
  background:#aaa;
  overflow:auto;
  -webkit-overflow-scrolling: touch;
}
#instHolder{
  position:absolute;
  z-index:1;
  width:100%;
  background:#aaa;
  overflow:auto;
  -webkit-overflow-scrolling: touch;
}
#cqHolder{
  position:absolute;
  z-index:1;
  width:100%;
  background:#aaa;
  overflow:auto;
  -webkit-overflow-scrolling: touch;
}
#playlistHolder{
  position:absolute;
  z-index:1;
  width:100%;
  background:#aaa;
  overflow:auto;
  -webkit-overflow-scrolling: touch;
}
#calendarHolder{
  position:absolute;
  z-index:1;
  width:100%;
  background:#aaa;
  overflow:auto;
  -webkit-overflow-scrolling: touch;
}

#alarmTimeHour{overflow:hidden;}
#alarmTimeMin{overflow:hidden;}
#alarmTimeAmPm{overflow:hidden;}
#sleepTime{overflow:hidden;}

.black{color:black;}
.loading{color:black; font-family:akzibold;}
.playlistItem{color:black; font-family:akzibold; position:static; text-align:center;}
#debugDiv{position:absolute; width:100%; top:0px;
background-color:rgba(0,0,0,.6); color:white; font-family: akziregular; font-size:18px;}
div{
position:absolute;
user-select: none;
-webkit-backface-visibility:hidden;
-webkit-transform: translate3d(0px,0px,0px);

}
.buttons{
-webkit-transition:opacity 50ms linear;
-webkit-background-size:100% 100%; 
background-repeat:no-repeat;
-webkit-background-size:contain;
background-position:center center;
}

.questionHolder{
  -webkit-transition:opacity 100ms linear;
  overflow:hidden; position:static; 
  float:left; 
}
.twistie{
  overflow:hidden;  position:relative; font-family:akzibold;
  background-repeat:no-repeat;
  background-position:center right;
}
.answer{
  position:absolute; font-family:akziregular;
  display:none; 
}
a:link{color:#2dbdda; font-family:akzibold; text-decoration:none;}

a:visited{color:#2dbdda; font-family:akzibold; text-decoration:none;}
.pages{
opacity:0;
transition:opacity 100ms linear;
background-size:66%; 
background-repeat:no-repeat;
background-color:#000;
Z-webkit-background-size:contain;
background-position:top center;
}
body{
user-select: none;
width:100%;
max-height:100%;
height:100%;
}
#wrapper{
position:absolute;
top:0;
width:100%;
height:100%;
overflow:hidden;
background-color:#000;
user-select: none;
}
#container{
position:absolute;
background-color:#000;
}
